# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code / system
.vscode/
.DS_Store

# Logs
*.log
wandb/
runs/

# Jupyter
.ipynb_checkpoints/

# Data files
*.pkl
*.npz
*.npy

# Checkpoints
*.ckpt
checkpoint_*/
**/checkpoint_*/
*.orbax-checkpoint-tmp
*.orbax-checkpoint-tmp/
**/*.orbax-checkpoint-tmp
**/*.orbax-checkpoint-tmp/

# Training outputs / buffers
buffer/
demo_buffer/
classifier_ckpt/*
!classifier_ckpt/.gitkeep

# Keep folders but ignore contents
examples/demo_data/*
!examples/demo_data/.gitkeep

examples/classifier_data/*
!examples/classifier_data/.gitkeep

examples/classifier_ckpt/*
!examples/classifier_ckpt/.gitkeep

